@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding-top: 2px;
}

body {
  background-image: url("images/backgroundsvik.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 30px;
  position: fixed;
  font-family: "Roboto Slab", serif;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.svik-text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.team {
  margin-right: 20px;
}

.github-container {
  margin-right: 20px;
}

.team-text,
.github-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.team-text:hover,
.github-text:hover {
  text-decoration: underline;
}

.main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120vh;
}

.svik-logo {
  height: 150px;
  margin-bottom: 20px;
}

.description {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.description p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.download-button {
  height: 80px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 15px;
}

.svik-text {
  text-align: center;
}

.svik-text a {
  text-decoration: none;
  color: white;
}

.svik-text a:hover {
  color: white;
}

.phone-container {
  position: relative;
  margin-bottom: 10px;
}

.svik-phone {
  height: 550px;
}

.app-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  margin-left: 20px;
  /* add margin to the left */
  padding: 20px;
  /* add some padding */
}

.app-feature {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.app-icon {
  height: 50px;
  margin-right: 20px;
  border-radius: 10px;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.app-description {
  font-size: 20px;
  margin-left: 20px;
  margin: 0;
}

.app-section:last-of-type {
  margin-bottom: 100px;
}

/* Read More link */
.app-section:last-of-type a {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
  text-decoration: underline;
}

/* Social media icons */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: #f2f2f2;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.footer-text {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer-text p {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.footer-text a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.footer-text a:hover {
  color: #007bff;
}

.read {
  margin-top: 30px;
}

.love {
  margin-top: 30px;
  margin-bottom: 30px;
}

.love a {
  text-decoration: none;
  color: dimgrey;
}

.love a:hover {
  color: #007bff;
  text-decoration: underline;
}

.main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120vh;
}

body {
  background-image: url("images/round.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1000px;
}

.svik-logo-container {
  margin-top: 100px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120vh;
  }

  body {
    background-image: url("images/round.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1000px;
  }

  .svik-logo-container {
    margin-top: 100px;
  }
}

/* For mobile phones */
@media (min-width: 320px) and (max-width: 480px) {
  .main-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 260px; */
    margin-top: 100%;
  }

  body {
    background-image: url("images/round.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .team-text,
  .github-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .main-section {
    height: 100vh;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0.6rem;
    position: fixed;
    font-family: "Roboto Slab", serif;
    top: 0;
    width: 100%;
    height: 80px;
    /* z-index: 1; */
  }

  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .svik-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2px;
  }
}



/* @media only screen and (min-device-width: 640px) {
  .main-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100vh;
  }

  body {
    background-image: url("images/round.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .svik-logo-container {
    margin-top: 100px;
  }
} */

@media (min-width: 1025px) and (max-width: 1200px) {
  .main-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120vh;
  }

  body {
    background-image: url("images/round.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1000px;
  }

  .svik-logo-container {
    margin-top: 100px;
  }
}


.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.image-wrapper {
  flex: 1;
  text-align: center;
}

.image-wrapper img {
  max-width: 50%;
  height: auto;
}

.text-wrapper {
  flex: 2;
  text-align: center;
}

.flipped {
  transform: scaleX(-1);
}

.notcontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.notcontainer img {
  margin: 10px;
}

.notcontainer img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.social-images:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col:nth-child(4),
.col:nth-child(5) {
  flex-basis: calc(20% - 20px);
}

.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.wrap img {
  display: block;
  /* max-width: 100%;
  max-height: 100%; */
  width: 160px;
  height: 160px;
  border-radius: 100%;
  transition: transform 0.5s ease;
}

.caption {
  position: relative;
  top: auto;
  bottom: 0;
  transform: translateY(10px);
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  transition: opacity 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

.row>.col:nth-child(n + 4) {
  margin-top: -80px;
}

.social-images {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-images a {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.social-images img {
  max-height: 25px;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.social-images a:hover img {
  transform: scale(1.2);
}

.social-images span {
  font-size: 14px;
}

.row:last-of-type .social-images {
  justify-content: center;
  text-align: center;
}

.row:nth-of-type(3) .social-images {
  justify-content: center;
}
}